<!DOCTYPE html>
<html>
    <head>
        <title>game</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/homeStyle.css">
        <link rel="icon" href="/images/trn.png">
    </head>
    <body>
        <div class="container"><h1 id='sc'>Score: <span id='ptn'>0</span></h1>
        <button class="btn btn-danger">Reset</button>
        <a href="/" class="btn btn-primary">Menu</a>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                <div id="cd1" class="col-lg-2"><div class="card"></div></div>
                <div id="cd2" class="col-lg-2"><div class="card"></div></div>
                <div id="cd3" class="col-lg-2"><div class="card"></div></div>
                <div id="cd4" class="col-lg-2"><div class="card"></div></div>
                <div id="cd5" class="col-lg-2"><div class="card"></div></div>
                <div id="cd6" class="col-lg-2"><div class="card"></div></div>
            </div>
            <div class="row">
                    <div id="cd7" class="col-lg-2"><div class="card"></div></div>
                    <div id="cd8" class="col-lg-2"><div class="card"></div></div>
                    <div id="cd9" class="col-lg-2"><div class="card"></div></div>
                    <div id="cd10" class="col-lg-2"><div class="card"></div></div>
                    <div id="cd11" class="col-lg-2"><div class="card"></div></div>
                    <div id="cd12" class="col-lg-2"><div class="card"></div></div>
                </div>
                <div class="row">
                        <div id="cd13" class="col-lg-2"><div class="card"></div></div>
                        <div id="cd14" class="col-lg-2"><div class="card"></div></div>
                        <div id="cd15" class="col-lg-2"><div class="card"></div></div>
                        <div id="cd16" class="col-lg-2"><div class="card"></div></div>
                        <div id="cd17" class="col-lg-2"><div class="card"></div></div>
                        <div id="cd18" class="col-lg-2"><div class="card"></div></div>
                    </div>
        </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type = 'text/javascript' src="/js/homeJs.js"></script>
    </body>
</html>