body{
   
    background: url('/images/pixelTrain.gif') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.card {
    height: 150px;
    margin-top: 2em;
    background:#5ea585;
    cursor: pointer;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}


.bomb{
    background-image: url('/images/bomb.jpg');
    background-position: center;
    background-size: cover;
}

a{
    cursor: pointer;
}

#sc{
    color: white;
    text-shadow: 1px 1px 1px #000, 
    3px 3px 5px black;
}

#ptn {
    color: green;
    text-shadow: 1px 1px 1px #000, 
    3px 3px 5px black;
}

