
.card {
    height: 150px;
    margin-top: 2em;
    background:#5ea585;
    cursor: pointer;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}


.bomb{
    background-image: url('/images/bomb.jpg');
    background-position: center;
    background-size: cover;
}

a{
    cursor: pointer;
}