textarea{
    resize: none;
}

h1{
    display: flex;
    justify-content: center;
    color:#5ea585;
    text-shadow: 1px 1px 1px #000, 
    3px 3px 5px black;
    font-size: 4em;
    
}

h2{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    justify-content: center;

}